<% include partials/_header %>

<div class="container">
    <h4
        style="text-align: center; background-color:#f2dede ; color: #bb6a68; padding-left: -200px; border: 1px solid #bb6a68; border-radius: 5px; padding: 5px 10px;">
        Stock exceeded !
    </h4><br><br>
    
</div>


<% include partials/_footer %>